.image1{
    width:326px;
    height:200px;
    margin-top: -10px;
    margin-left:-10px;
}
.image_title{
    text-align:left;
}
.image_des{
    text-align:left;
}
.service{
   box-shadow: -3px -3px 7px #ffffff23, 3px 3px 5px rgba(94,104,121,.288);
   padding: 10px;
   margin: 15px;
}
.service:hover {
    background-color: black;
    color: white;
}

.service h5{
    margin-right: 145px;
    font-weight: 700;
}

.btn{
    background-color: slateblue;
    color: white;
    margin-bottom: 10px;
}
.text_on{
    color: rgb(31, 218, 218);
    font-family: 'Dancing Script', cursive;
}