

.service{
   box-shadow: -3px -3px 7px #ffffff23, 3px 3px 5px rgba(94,104,121,.288);
   padding: 10px;
   margin: 15px;
}

.service h5{
    margin-right: 145px;
    font-weight: 700;
}

.btn{
    background-color: slateblue;
    color: white;
    margin-bottom: 10px;
}